<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LaptopSetup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <LaptopSetup.Properties.Settings>
            <setting name="TimeZoneSelect" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TimeZone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllUsers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Printer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PrinterSelect" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SetPower" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PowerPluggedSelect" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PowerBattSelect" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PinUnpin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Manuals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Shortcuts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InternetZone" serializeAs="String">
                <value>True</value>
            </setting>
        </LaptopSetup.Properties.Settings>
    </userSettings>
</configuration>